/*manage cloths */
.cloth-form {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 !important;
  width: 350px;
  z-index: 5000;

  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 40px rgba(0,0,0,0.3);
}

.cloth-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #136d71;
}
.admin-cloth-container {
  padding-top: 70px;
  margin-left: 300px;
  z-index: 100;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.add-button {
  position: fixed;
  top: 20px;
  left: 300px;
  z-index: 2000;
  cursor: pointer;
  border: none;
  width: 200px;
  font-weight: bold;
  background-color: gold;
  border-radius: 10px;
  height: 40px;
}
.add-button:hover{
  background-color: #0f575b;
  transition: all 0.4s ease-in-out;
}
.edit-button {
  background-color: #136d71;
  margin: 10px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e80404;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 35px;
  height: 30px;
  font-size: 18px;
  z-index: 6000;
}

.cloth-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.add-close-button {
  padding: 10px;
  background-color: #e6d712;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cloth-form button:hover {
  background-color: #285e61;
}

.cloth-box button {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #e53e3e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.submit-button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: gold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button:hover {
  background-color: #e6c200;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);  
  backdrop-filter: blur(4px);
  z-index: 3000;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px; 
  background-color: transparent; 
}

/*dashboared*/
.dashboard {
  margin: 10px 0 0 270px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dashboard-upper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.dashboard-total-clothes {
  width: 500px;
  border: 1.5px solid rgba(19, 109, 113, 0.3);
  border-radius: 6px;
  height: 280px;
  text-align: center;
  box-shadow: 0px 0px 100px BLACK;
}
.dashboard-total-clothes h2 {
  color: gold;
}
.dashboard-total-users {
  width: 500px;
  border: 1.5px solid rgba(19, 109, 113, 0.3);
  border-radius: 6px;
  margin-right: 10px;
  height: 280px;
  text-align: center;
  box-shadow: 0px 0px 100px BLACK;
}
.dashboard-total-users h1 {
  margin-top: 60px;
  text-shadow: 0px 0px 90px gold;
}
.dashboard-total-users h2 {
  color: gold;
}
.dashboard-orders {
  width: 999px;
  border: 1.5px solid rgba(19, 109, 113, 0.3);
  border-radius: 6px;
  height: 250px;
  text-align: center;
  display: flex;
  gap: 300px;
  box-shadow: 0px 0px 100px BLACK;
}
.recent-orders {
  margin-left: 50px;
}
.recent-orders h2 {
  color: gold;
}
.total-orders {
  margin-top: 50px;
  margin-left: 50px;
}
.total-orders h2 {
  color: gold;
}
.total-orders h1 {
  text-shadow: 0px 0px 90px gold;
  -webkit-text-stroke: 1px rgb(231, 229, 215);
}

.sidebar-contents {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.pie-chart {
  margin-left: 450px;
}
/*orders in*/
.orders-in {
  margin-left: 300px;
  padding: 20px;
}

.orders-in h1 {
  color: #136d71;
  margin-bottom: 20px;
}

.order {
  padding: 15px 0;
}

.order-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

.order-item:last-child {
  border-bottom: none;
}

.order-item img {
  border-radius: 8px;
  width: 100px;
  height: auto;
}

.accept-btn,
.reject-btn {
  padding: 6px 14px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease;
  font-size: 14px;
}

.accept-btn {
  background-color: #136d71;
  color: white;
}

.reject-btn {
  background-color: #8b0606;
  color: white;
  margin-left: 10px;
}

.accept-btn:hover {
  background-color: #0f575b;
}

.reject-btn:hover {
  background-color: #c70303;
}

.order h3 {
  color: #26b1b8;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
