/*Admin dashboard*/
.cloth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin-bottom: 30px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin-left: 400px;
  position: relative;
}

.admin-cloth-container {
  margin-left: 300px;
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.add-button {
  margin-left: 300px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 50px;
  border: none;
  width: 200px;
  font-weight: bold;
  background-color: gold;
  border-radius: 10px;
  height: 40px;
}
.close-button {
  width: 40px;
  height: 30px;
  margin-left: 250px;
  background-color: #e80404;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

.cloth-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.add-close-button {
  padding: 10px;
  background-color: #e6d712;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cloth-form button:hover {
  background-color: #285e61;
}

.cloth-box button {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #e53e3e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*dashboared*/
.dashboard-sidebar {
  position: fixed;
  border-right: 1px solid rgb(172, 148, 15);
  left: 30px;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 100vh;
}

.dashboard {
  margin: 10px 0 0 270px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.dashboard-upper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.dashboard-total-clothes {
  width: 500px;
  border: 1px solid rgb(172, 148, 15);
  height: 280px;
  text-align: center;
  box-shadow: 0px 0px 100px BLACK;
}
.dashboard-total-clothes h2 {
  color: gold;
}
.dashboard-total-users {
  width: 500px;
  border: 1px solid rgb(172, 148, 15);
  height: 280px;
  text-align: center;
  box-shadow: 0px 0px 100px BLACK;
}
.dashboard-total-users h1 {
  margin-top: 60px;
  text-shadow: 0px 0px 90px gold;
}
.dashboard-total-users h2 {
  color: gold;
}
.dashboard-orders {
  width: 999px;
  border: 1px solid rgb(172, 148, 15);
  height: 250px;
  text-align: center;
  display: flex;
  gap: 300px;
  box-shadow: 0px 0px 100px BLACK;
}
.recent-orders {
  margin-left: 50px;
}
.recent-orders h2 {
  color: gold;
}
.total-orders {
  margin-top: 50px;
  margin-left: 50px;
}
.total-orders h2 {
  color: gold;
}
.total-orders h1 {
  text-shadow: 0px 0px 90px gold;
  -webkit-text-stroke: 1px rgb(231, 229, 215);
}

.sidebar-contents {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.pie-chart {
  margin-left: 450px;
}
/*orders in*/
.orders-in {
  margin-left: 300px;
}