/*Auth*/
.auth-form {
  width: 350px;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 2rem;
  background-color: rgba(25, 11, 59, 0.7);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  border: 1px solid grey;
}

.auth-form input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.auth-form h1,
h3 {
  text-align: center;
}

.auth-button {
  height: 40px;
}
