/*cart */
.cart-box {
  display: flex;
  gap: 40px;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 30px;
  width: 600px;
  margin-left: 300px;
}
.cart-box p {
  line-height: 50%;
}
.cart-box img {
  height: 130px;
  width: 130px;
}
.cart-page {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.order-button {
  background-color: gold;
  border: none;
  height: 30px;
  width: 70px;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.delete-button {
  border: none;
  height: 30px;
  width: 70px;
  margin: 10px 10px 10px 0;
  background-color: red;
  font-weight: bold;
  color: azure;
  cursor: pointer;
  border-radius: 10px;
}
