/*CLOTHS NAVIGATION (SIDEBAR)*/

.cloth-info {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100vh;
  width: 17%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 30px 0;
  background: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.cloth-info p {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 500;
  color: #ddd;
  cursor: pointer;
  transition: all 0.25s ease;
}

.cloth-info p:hover {
  background-color: rgba(173, 216, 230, 0.1);
  color: #00bfff;
  border-right: 4px solid #00bfff;
  transform: scale(1.03);
}

.cloth-info p.active {
  background-color: rgba(173, 216, 230, 0.15);
  color: #00bfff;
  border-right: 4px solid #00bfff;
  font-weight: 600;
}

/*CLOTHS LIST AREA*/

.cloth-page {
  display: flex;
}

.cloth-container {
  flex-grow: 1;
  margin-left: 260px;
  padding: 60px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* CLOTH BOX */

.cloth-box img {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.cloth-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cloth-box:hover {
  transform: scale(1.07);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.cloth-box p {
  margin: 6px 0;
  font-size: 15px;
}

.cloth-box button {
  border: none;
  background-color: gold;
  height: 28px;
  width: 110px;
  border-radius: 20px;
  color: darkblue;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.cloth-box button:hover {
  background-color: rgb(255, 232, 96);
}
.spinner-container {
  width: 60px;
  height: 60px;
  z-index: 10000;
  position: fixed;
  top: 50%;
  right: 45%;
}
