.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 50px;
}
.nav-bar span {
  color: gold;
  font-size: 30px;
  margin-left: 20px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 100px;
  z-index: 999;
  color: rgb(254, 254, 254);
  height: 55px;
  backdrop-filter: blur(100px);
  border-bottom: 1px solid #1e1e1e;
}
.nav-bar a:link,
.nav-bar a:visited {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.login-button {
  color: white;
  padding: 5px 19px;
  border-radius: 18px;
  background-color: rgba(34, 14, 81, 0.7);
  border: none;
  box-shadow: 0px 0px 4px gold;
  width: 100px;
  margin-left: 40px;
}
.nav-bar a:link,
.nav-bar a:visited {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

.nav-bar a:hover {
  color: gold;
  transform: translateY(-2px);
}