body {
  background: linear-gradient(to right, #1e1e1e 0%, rgba(6, 26, 59, 0.89) 100%);

  color: white;
  margin: 0;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 50px;
}
.nav-bar span {
  color: gold;
  font-size: 30px;
  margin-left: 20px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 100px;
  z-index: 999;
  color: rgb(254, 254, 254);
  height: 55px;
  backdrop-filter: blur(100px);
  border-bottom: 1px solid #1e1e1e;
}
.nav-bar a:link,
.nav-bar a:visited {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.login-button {
  color: white;
  padding: 5px 19px 5px 19px;
  border-radius: 18px;
  background-color: rgba(34, 14, 81, 0.7);
  border: none;
  box-shadow: 0px 0px 4px gold;
  width: 100px;
  margin-left: 40px;
}

/*homepage*/
/* section one*/
.home-page .section-one {
  position: relative;
  height: 95vh;
  padding-top: 30px;
  padding-left: 50px;
}

.home-page .section-one h1 {
  font-size: 70px;
  width: 800px;
  margin-top: 60px;
}
.landing-footer {
  display: flex;
  margin-top: 40px;
}

.home-page .section-one p {
  width: 400px;
  margin-top: 20px;
}

.home-page .section-one button {
  margin-top: 50px;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: rgb(14, 14, 77);
  background-color: gold;
  margin-left: 100px;
  font-weight: bold;
  font-size: 20px;
}

.landing-page-image {
  position: absolute;
  right: 70px;
  top: 30px;
  bottom: 0;
  height: calc(100vh - 30px);
  object-fit: contain;
  z-index: -1;
}

/* section two*/
.section-two {
  background-color: rgb(254, 252, 252);
  color: #1e1e1e;
}
.our-collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0 100px 0 100px;
  background-color: white;
}
.section-two h2 {
  text-align: center;
  padding-top: 10px;
}
.our-collections img {
  height: 250px;
  width: 210px;
  border-radius: 10px;
}
.our-collections h4 {
  text-align: center;
  font-size: 18px;
}

/*customer comments*/
.customer-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.comments {
  background-color: #dfdfdf;
}

.comment-box {
  background-color: white;
  color: black;
  padding: 30px;
  margin: 30px;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Auth*/
.auth-form {
  width: 350px;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 2rem;
  background-color: rgba(25, 11, 59, 0.7);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  border: 1px solid grey;
}

.auth-form input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.auth-form h1,
h3 {
  text-align: center;
}

.auth-button {
  height: 40px;
}
/*cloth list*/
.cloth-box img {
  height: 120px;
  width: 150px;
}
.cloth-box p {
  line-height: 50%;
}
.cloth-box button {
  border: none;
  background-color: gold;
  height: 23px;
  width: 100px;
  border-radius: 20px;
  color: darkblue;
  cursor: pointer;
}

.cloth-container {
  display: flex;
  gap: 40px;
  padding: 60px;
  flex-wrap: wrap;
}
.cloth-box:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 10;
  position: relative;
}
.cloth-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  align-items: center;
  border-right: 1px solid grey;
  width: 300px;
  padding-top: 101px;
}

.cloth-page {
  display: flex;
}

/*cart */
.cart-box {
  display: flex;
  gap: 40px;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 30px;
  width: 600px;
  margin-left: 300px;
}
.cart-box p {
  line-height: 50%;
}
.cart-box img {
  height: 130px;
  width: 130px;
}
.cart-page {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.order-button {
  background-color: gold;
  border: none;
  height: 30px;
  width: 70px;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.delete-button {
  border: none;
  height: 30px;
  width: 70px;
  margin: 10px 10px 10px 0;
  background-color: red;
  font-weight: bold;
  color: azure;
  cursor: pointer;
  border-radius: 10px;
}

/*Order page*/
.orders-page {
  margin: 100px 0 0 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order-box {
  display: flex;
  gap: 20px;
}
.order-box img {
  height: 150px;
}
/*Admin dashboard*/
.cloth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin-bottom: 30px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin-left: 400px;
  position: relative;
}

.admin-cloth-container {
  margin-left: 300px;
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.add-button {
  margin-left: 300px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 50px;
  border: none;
  width: 200px;
  font-weight: bold;
  background-color: gold;
  border-radius: 10px;
  height: 40px;
}
.close-button {
  width: 40px;
  height: 30px;
  margin-left: 250px;
  background-color: #e80404;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

.cloth-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}
.add-close-button {
  padding: 10px;
  background-color: #e6d712;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.cloth-form button:hover {
  background-color: #285e61;
}

.cloth-box button {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #e53e3e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*dashboared*/
.dashboard-sidebar {
  position: fixed;
  border-right: 1px solid rgb(172, 148, 15);
  left: 30px;
  top: 0;

  bottom: 0;
  width: 200px;
  height: 100vh;
}

.dashboard {
  margin: 10px 0 0 270px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.dashboard-upper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.dashboard-total-clothes {
  width: 500px;
  border: 1px solid rgb(172, 148, 15);
  height: 280px;
  text-align: center;
  box-shadow: 0px 0px 100px BLACK;
}
.dashboard-total-clothes h2 {
  color: gold;
}
.dashboard-total-users {
  width: 500px;
  border: 1px solid rgb(172, 148, 15);
  height: 280px;
  text-align: center;
  box-shadow: 0px 0px 100px BLACK;
}
.dashboard-total-users h1 {
  margin-top: 60px;
  text-shadow: 0px 0px 90px gold;
}
.dashboard-total-users h2 {
  color: gold;
}
.dashboard-orders {
  width: 999px;
  border: 1px solid rgb(172, 148, 15);
  height: 250px;
  text-align: center;
  display: flex;
  gap: 300px;
  box-shadow: 0px 0px 100px BLACK;
}
.recent-orders {
  margin-left: 50px;
}
.recent-orders h2 {
  color: gold;
}
.total-orders {
  margin-top: 50px;
  margin-left: 50px;
}

.total-orders h2 {
  color: gold;
}
.total-orders h1 {
  text-shadow: 0px 0px 90px gold;
  -webkit-text-stroke: 1px rgb(231, 229, 215);
}

.sidebar-contents {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.pie-chart {
  margin-left: 450px;
}
/*orders in*/
 .orders-in{
  margin-left: 300px;
 }