body {
  background: linear-gradient(to right, #1e1e1e 0%, rgba(6, 26, 59, 0.89) 100%);

  color: white;
  margin: 0;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 50px;
}
.nav-bar span {
  color: gold;
  font-size: 30px;
  margin-left: 20px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 100px;
  z-index: 999;
  color: rgb(254, 254, 254);
  height: 55px;
}
.nav-bar a:link,
.nav-bar a:visited {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.login-button {
  color: white;
  padding: 5px 19px 5px 19px;
  border-radius: 18px;
  background-color: rgba(34, 14, 81, 0.7);
  border: none;
  box-shadow: 0px 0px 4px gold;
}
/*homepage*/
/* section one*/
.home-page .section-one {
  position: relative;
  height: 95vh;
  padding-top: 30px;
  padding-left: 50px;
}

.home-page .section-one h1 {
  font-size: 70px;
  width: 800px;
  margin-top: 60px;
}
.landing-footer {
  display: flex;
  margin-top: 40px;
}

.home-page .section-one p {
  width: 400px;
  margin-top: 20px;
}

.home-page .section-one button {
  margin-top: 50px;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: rgb(14, 14, 77);
  background-color: gold;
  margin-left: 100px;
  font-weight: bold;
  font-size: 20px;
}

.landing-page-image {
  position: absolute;
  right: 70px;
  top: 30px;
  bottom: 0;
  height: calc(100vh - 30px);
  object-fit: contain;
  z-index: -1;
}

/* section two*/
.section-two {
  background-color: rgb(254, 252, 252);
  color: #1e1e1e;
}
.our-collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0 100px 0 100px;
  background-color: white;
}
.section-two h2 {
  text-align: center;
  padding-top: 10px;
}
.our-collections img {
  height: 250px;
  width: 210px;
  border-radius: 10px;
}
.our-collections h4 {
  text-align: center;
  font-size: 18px;
}

/*customer comments*/
.customer-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.comments {
  background-color: #dfdfdf;
}

.comment-box {
  background-color: white;
  color: black;
  padding: 30px;
  margin: 30px;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Auth*/
.auth-form {
  width: 350px;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 2rem;
  background-color: rgba(25, 11, 59, 0.7);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  border: 1px solid grey;
}

.auth-form input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.auth-form h1,
h3 {
  text-align: center;
}

.auth-button {
  height: 40px;
}
